nav{
    border:2px solid rgb(22, 19, 6);
    width: 150px;
    height:auto;
    padding: 12PX;
    margin:auto ;


}
img{
    width: 150px;
    height:150px;

}
.par1{
 color: darkgrey;
}
.par3{
color:rgb(54, 206, 54) ;
}
