.strong{
    list-style-type: none;
    display: inline-block;
    margin-bottom: 50px;
    font-size: 70px;
    color: rgb(196, 90, 155);
}
li{
    display: inline;
    padding-left:15px;
    float: left;
    font-size: small;
    color: rgb(177, 85, 189);
}
a:hover{
    text-decoration: underline;
}
ul.new li+li:before {
    padding-right: 8px;
    content: "/";
    
  }
h2{
    display: block;
    margin-right: 900px;
    
}
p{
    font: bold;
    
}
img{
    margin-left:48px;
    width: 158px;
}
.flexxbox-container{
display: flex;
}